In [1]:
# Import dependencies
import pandas as pd

In [2]:
# get school date

csv_schools = "Resources/schools_complete.csv"

schools_df = pd.read_csv(csv_schools, encoding = "utf-8")
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# get student data

csv_students = "Resources/students_complete.csv"

students_df = pd.read_csv(csv_students, encoding = "utf-8")
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
# merge dataframes using inner join (merge data that is included in both sets)

school_student_df = pd.merge(schools_df, students_df, on="school_name")

school_student_df
school_student_df.to_csv("merged data.csv")

In [13]:
# Get total number of unique schools

school_list = school_student_df["school_name"].value_counts()

school_count = len(school_list)
school_count

15

In [14]:
# Get total students & budget

students_budget_df = school_student_df[["school_name","size","budget"]]

students_budget_byschool_df = students_budget_df.groupby(["school_name"]).last()
#students_budget_byschool_df

student_count = students_budget_byschool_df["size"].sum()
budget_total = students_budget_byschool_df["budget"].sum()

student_count
#budget_total

39170

In [19]:
# Get Average math score & Average reading score

scores_df = school_student_df[["school_name","reading_score","math_score"]]
#scores_df

reading_avg = scores_df["reading_score"].mean()
math_avg = scores_df["math_score"].mean()

print(reading_avg)
print(math_avg)

81.87784018381414
78.98537145774827

In [20]:
print("District Data")
print(f"Total schools in district is {school_count}")
print(f"Total students in district is {student_count:,}")
print(f"Total budget in district is {budget_total:,}")
print(f"Average reading score in district is {reading_avg}")
print(f"Average math score in district is {math_avg}")

District Data
Total schools in district is 15
Total students in district is 39,170
Total budget in district is 24,649,428
Average reading score in district is 81.87784018381414
Average math score in district is 78.98537145774827