# PyCity School Analysis
##Below is an analysis on the district-wide standardized test results to help facilitate future 
##decisions regarding school budgets & priorities.  A few observations from the data:

    #Regardless of school type or size, math and reading averages are mostly flat by grade level
    
    #Schools that have less than 2000 students have significantly higher percentage of students that pass both
        #the reading & math standarized test than schools that have more than 2000 students
    
    #The percentage of students passing the math standardized test has a larger gap between the top 5 schools and
        #the bottom 5 schools than the percentage of students passing the reading test
        
    #The top 5 schools for overall passing rate have a lower budget per student than the bottom 5 schools.

In [5]:
# Import dependencies
import pandas as pd

# Set up merged database

In [6]:
# get school data

csv_schools = "Resources/schools_complete.csv"

schools_df = pd.read_csv(csv_schools, encoding = "utf-8")
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
# get student data

csv_students = "Resources/students_complete.csv"

students_df = pd.read_csv(csv_students, encoding = "utf-8")
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [15]:
# merge dataframes

school_student_df = pd.merge(students_df, schools_df, how = "left", on=["school_name","school_name"])

school_student_df.to_csv("merged data.csv")
school_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Data

In [17]:
# Get total number of unique schools


school_count = len(school_student_df["school_name"].value_counts())
school_count

15

In [18]:
# Get total students & budget

students_budget_df = school_student_df[["school_name","size","budget"]]

students_budget_byschool_df = students_budget_df.groupby(["school_name"]).last()
#students_budget_byschool_df

student_count = students_budget_byschool_df["size"].sum()
budget_total = students_budget_byschool_df["budget"].sum()

print(student_count)
print(budget_total)

24649428

In [23]:
# Get Average math score & Average reading score

scores_df = school_student_df[["school_name","reading_score","math_score"]]
#scores_df

reading_avg = scores_df["reading_score"].mean()
math_avg = scores_df["math_score"].mean()

print(reading_avg)
print(math_avg)

81.87784018381414
78.98537145774827

In [34]:
# Calculate %students who passed math (score >= 70%)
passing_math = scores_df[(scores_df["math_score"] >= 70)].count()["school_name"]
passing_math
math_percent = passing_math / student_count * 100

print(math_percent)

74.9808526933878

In [35]:
# Calculate %students who passed reading (score >= 70%)
passing_reading = scores_df[(scores_df["reading_score"] >= 70)].count()["school_name"]

reading_percent = passing_reading / student_count * 100

print(reading_percent)

85.80546336482001

In [38]:
# Calculate %students who passed both math & reading (score >= 70%)
passing_math_reading = scores_df[(scores_df["reading_score"] >= 70) & (scores_df["math_score"] >= 70)].count()["school_name"]

math_reading_percent = passing_math_reading / student_count * 100

print(math_reading_percent)

65.17232575950983

In [52]:
district_summary_df = pd.DataFrame(
    {"Total Schools" : [school_count],
    "Total Students" : [student_count],
    "Total Budget" : [budget_total],
    "Average Math Score" : [math_avg],
    "Average Reading Score" : [reading_avg],
    "% Passing Math" : [math_percent],
    "% Passing Reading" : [reading_percent],
    "% Overall Passing" : [math_reading_percent]}
)

district_summary_formatted = district_summary_df.copy()
district_summary_formatted["Total Students"] = district_summary_formatted["Total Students"].map("{:,}".format)
district_summary_formatted["Total Budget"] = district_summary_formatted["Total Budget"].map("${:,.2f}".format)
district_summary_formatted["Average Math Score"] = district_summary_formatted["Average Math Score"].map("{:,.2f}".format)
district_summary_formatted["Average Reading Score"] = district_summary_formatted["Average Reading Score"].map("{:,.2f}".format)
district_summary_formatted["% Passing Math"] = district_summary_formatted["% Passing Math"].map("{:.2f}%".format)
district_summary_formatted["% Passing Reading"] = district_summary_formatted["% Passing Reading"].map("{:.2f}%".format)
district_summary_formatted["% Overall Passing"] = district_summary_formatted["% Overall Passing"].map("{:.2f}%".format)

district_summary_formatted

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

# School Data

In [56]:
school_student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [114]:
# Get school type, total students, & budget
school_info_last_df = school_student_df.groupby(["school_name"]).last()

school_budget = school_info_last_df["budget"]
school_type = school_info_last_df["type"]
school_size = school_info_last_df["size"]
budget_student = school_budget / school_size
print(budget_student)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [137]:
school_info_mean_df = school_student_df.groupby(["school_name"]).mean()

school_math = school_info_mean_df["math_score"]
school_reading = school_info_mean_df["reading_score"]

school_math_passing = school_student_df[(school_student_df["math_score"] >= 70)]
school_math_percent = school_math_passing.groupby(["school_name"]).count()["student_name"]  / school_size *100

school_reading_passing = school_student_df[(school_student_df["reading_score"] >= 70)]
school_reading_percent = school_reading_passing.groupby(["school_name"]).count()["student_name"]  / school_size *100

school_overall_passing = school_student_df[(school_student_df["math_score"] >= 70) & (school_student_df["reading_score"] >= 70)]
school_overall_percent = school_overall_passing.groupby(["school_name"]).count()["student_name"]  / school_size *100

In [143]:
school_summary_df = pd.DataFrame(
    {"School Type" : school_type,
    "Total Students" : school_size,
    "Total School Budget" : school_budget,
    "Per Student Budget" : budget_student,
    "Average Math Score" : school_math,
    "Average Reading Score" : school_reading,
    "% Passing Math" : school_math_percent,
    "% Passing Reading" : school_reading_percent,
    "% Overall Passing" : school_overall_percent
    })

school_summary_formatted = school_summary_df.copy()
school_summary_formatted["Total Students"] = school_summary_formatted["Total Students"].map("{:,}".format)
school_summary_formatted["Total School Budget"] = school_summary_formatted["Total School Budget"].map("${:,.2f}".format)
school_summary_formatted["Per Student Budget"] = school_summary_formatted["Per Student Budget"].map("${:,.2f}".format)
school_summary_formatted["Average Math Score"] = school_summary_formatted["Average Math Score"].map("{:,.2f}".format)
school_summary_formatted["Average Reading Score"] = school_summary_formatted["Average Reading Score"].map("{:,.2f}".format)
school_summary_formatted["% Passing Math"] = school_summary_formatted["% Passing Math"].map("{:.2f}%".format)
school_summary_formatted["% Passing Reading"] = school_summary_formatted["% Passing Reading"].map("{:.2f}%".format)
school_summary_formatted["% Overall Passing"] = school_summary_formatted["% Overall Passing"].map("{:.2f}%".format)

school_summary_formatted

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [145]:
# Create a DataFrame of the highest performing schools
top_schools_formatted = school_summary_formatted.sort_values("% Overall Passing", ascending=False)
top_schools_formatted.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [146]:
# Create a DataFrame of the lowest performing schools
bottom_schools_formatted = school_summary_formatted.sort_values("% Overall Passing", ascending=True)
bottom_schools_formatted.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [160]:
# Scores by School & Grade

# Separate data by grade
ninth_graders = school_student_df[(school_student_df["grade"] == "9th")]
tenth_graders = school_student_df[(school_student_df["grade"] == "10th")]
eleventh_graders = school_student_df[(school_student_df["grade"] == "11th")]
twelfth_graders = school_student_df[(school_student_df["grade"] == "12th")]

# Get average by school for each grade
ninth_graders_math = ninth_graders.groupby(["school_name"]).mean()["math_score"]
ninth_graders_reading = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_graders_math = tenth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_reading = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_graders_math = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_reading = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_graders_math = twelfth_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_reading = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [161]:
# Create Math DataFrame

school_grade_math_df = pd.DataFrame(
    {"9th Math Avg" : ninth_graders_math,
    "10th Math Avg" : tenth_graders_math,
    "11th Math Avg" : eleventh_graders_math,
    "12th Math Avg" : twelfth_graders_math
    })

school_grade_math_df.index.name = None

school_grade_math_df

,9th Math Avg,10th Math Avg,11th Math Avg,12th Math Avg
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [162]:
# Create Reading DataFrame

school_grade_reading_df = pd.DataFrame(
    {"9th Reading Avg" : ninth_graders_reading,
    "10th Reading Avg" : tenth_graders_reading,
    "11th Reading Avg" : eleventh_graders_reading,
    "12th Reading Avg" : twelfth_graders_reading
    })

school_grade_reading_df.index.name = None

school_grade_reading_df

,9th Reading Avg,10th Reading Avg,11th Reading Avg,12th Reading Avg
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [166]:
# Get data by spending

# Set up the bins & labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# create a copy of By School database
spending_df = school_summary_df.copy()

# Categorize the data with pd.cut
spending_df["Spending Range (per student)"] = pd.cut(spending_df["Per Student Budget"], bins = spending_bins, labels = labels, include_lowest=True)

spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Range (per student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [171]:
# Get score information by spending range per student
spending_math_score = spending_df.groupby(["Spending Range (per student)"]).mean()["Average Math Score"]
spending_reading_score = spending_df.groupby(["Spending Range (per student)"]).mean()["Average Reading Score"]
spending_math_percent = spending_df.groupby(["Spending Range (per student)"]).mean()["% Passing Math"]
spending_reading_percent = spending_df.groupby(["Spending Range (per student)"]).mean()["% Passing Reading"]
spending_overall_percent = spending_df.groupby(["Spending Range (per student)"]).mean()["% Overall Passing"]

# Store data in a dataframe
spending_summary_df = pd.DataFrame(
    {"Average Math Score" : spending_math_score,
    "Average Reading Score" : spending_reading_score,
    "% Passing Math" : spending_math_percent,
    "% Passing Reading" : spending_reading_percent,
    "% Overall Passing" : spending_overall_percent
    })

spending_summary_df.index.name = None

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [176]:
# Get score information by school size

# Set up the bins & labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# create a copy of By School database
size_df = school_summary_df.copy()

# Categorize the data with pd.cut
size_df["School Size"] = pd.cut(spending_df["Total Students"], bins = size_bins, labels = size_labels, include_lowest=True)

size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [177]:
#calculate scores by size
size_math_score = size_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_score = size_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_math_percent = size_df.groupby(["School Size"]).mean()["% Passing Math"]
size_reading_percent = size_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_percent = size_df.groupby(["School Size"]).mean()["% Overall Passing"]


# Store size data in a dataframe
size_summary_df = pd.DataFrame(
    {"Average Math Score" : size_math_score,
    "Average Reading Score" : size_reading_score,
    "% Passing Math" : size_math_percent,
    "% Passing Reading" : size_reading_percent,
    "% Overall Passing" : size_overall_percent
    })

size_summary_df.index.name = None

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [182]:
# school size data

# create a copy of By School database
type_df = school_summary_df.copy()

#calculate scores by size
type_math_score = type_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_score = type_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_math_percent = type_df.groupby(["School Type"]).mean()["% Passing Math"]
type_reading_percent = type_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_percent = type_df.groupby(["School Type"]).mean()["% Overall Passing"]

# Store size data in a dataframe
type_summary_df = pd.DataFrame(
    {"Average Math Score" : type_math_score,
    "Average Reading Score" : type_reading_score,
    "% Passing Math" : type_math_percent,
    "% Passing Reading" : type_reading_percent,
    "% Overall Passing" : type_overall_percent
    })

type_summary_df.index.name = None

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208