In [5]:
# Import dependencies
import pandas as pd

# Set up merged database

In [6]:
# get school date

csv_schools = "Resources/schools_complete.csv"

schools_df = pd.read_csv(csv_schools, encoding = "utf-8")
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
# get student data

csv_students = "Resources/students_complete.csv"

students_df = pd.read_csv(csv_students, encoding = "utf-8")
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [15]:
# merge dataframes

school_student_df = pd.merge(students_df, schools_df, how = "left", on=["school_name","school_name"])

school_student_df.to_csv("merged data.csv")
school_student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Data

In [17]:
# Get total number of unique schools


school_count = len(school_student_df["school_name"].value_counts())
school_count

15

In [18]:
# Get total students & budget

students_budget_df = school_student_df[["school_name","size","budget"]]

students_budget_byschool_df = students_budget_df.groupby(["school_name"]).last()
#students_budget_byschool_df

student_count = students_budget_byschool_df["size"].sum()
budget_total = students_budget_byschool_df["budget"].sum()

print(student_count)
print(budget_total)

24649428

In [23]:
# Get Average math score & Average reading score

scores_df = school_student_df[["school_name","reading_score","math_score"]]
#scores_df

reading_avg = scores_df["reading_score"].mean()
math_avg = scores_df["math_score"].mean()

print(reading_avg)
print(math_avg)

81.87784018381414
78.98537145774827

In [34]:
# Calculate %students who passed math (score >= 70%)
passing_math = scores_df[(scores_df["math_score"] >= 70)].count()["school_name"]
passing_math
math_percent = passing_math / student_count * 100

print(math_percent)

74.9808526933878

In [35]:
# Calculate %students who passed reading (score >= 70%)
passing_reading = scores_df[(scores_df["reading_score"] >= 70)].count()["school_name"]

reading_percent = passing_reading / student_count * 100

print(reading_percent)

85.80546336482001

In [38]:
# Calculate %students who passed both math & reading (score >= 70%)
passing_math_reading = scores_df[(scores_df["reading_score"] >= 70) & (scores_df["math_score"] >= 70)].count()["school_name"]

math_reading_percent = passing_math_reading / student_count * 100

print(math_reading_percent)

65.17232575950983

In [52]:
district_summary_df = pd.DataFrame(
    {"Total Schools" : [school_count],
    "Total Students" : [student_count],
    "Total Budget" : [budget_total],
    "Average Math Score" : [math_avg],
    "Average Reading Score" : [reading_avg],
    "% Passing Math" : [math_percent],
    "% Passing Reading" : [reading_percent],
    "% Overall Passing" : [math_reading_percent]}
)

district_summary_formatted = district_summary_df.copy()
district_summary_formatted["Total Students"] = district_summary_formatted["Total Students"].map("{:,}".format)
district_summary_formatted["Total Budget"] = district_summary_formatted["Total Budget"].map("${:,.2f}".format)
district_summary_formatted["Average Math Score"] = district_summary_formatted["Average Math Score"].map("{:,.2f}".format)
district_summary_formatted["Average Reading Score"] = district_summary_formatted["Average Reading Score"].map("{:,.2f}".format)
district_summary_formatted["% Passing Math"] = district_summary_formatted["% Passing Math"].map("{:.2f}%".format)
district_summary_formatted["% Passing Reading"] = district_summary_formatted["% Passing Reading"].map("{:.2f}%".format)
district_summary_formatted["% Overall Passing"] = district_summary_formatted["% Overall Passing"].map("{:.2f}%".format)

district_summary_formatted

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

# School Data

In [56]:
school_student_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [109]:
# Get school type, total students, & budget
school_info_df = school_student_df.groupby(["school_name"]).last()

school_budget = school_info_df["budget"]
school_type = school_info_df["type"]
school_size = school_info_df["size"]
#school_info_df.head()

In [111]:
school_summary_df = pd.DataFrame(
    {"School Type" : school_type,
    "Total Students" : school_size,
    "Total School Budget" : school_budget,
    #"Average Math Score" : [math_avg],
    #"Average Reading Score" : [reading_avg],
    #"% Passing Math" : [math_percent],
    #"% Passing Reading" : [reading_percent],
    #"% Overall Passing" : [math_reading_percent]
    })

school_summary_df

                      School Type  Total Students  Total School Budget
school_name
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400